<html>
<head>
    <title>Add Participant</title>
</head>
<body>
<hr />
<div>
    <a href="/main">Main</a>
    <a href="/addparticipant">Add Participant</a>
    <form action="logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<hr />
<div>
    <form method="post">
        <input type="text" name="surname" placeholder="Surname"/>
        <input type="text" name="name" placeholder="Name"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Add</button>
    </form>
</div>
<div>Participant List</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <button type="submit">Find</button>
</form>
{{#participants}}
    <div>
        <b>{{id}}</b>
        <span>{{surname}}</span>
        <i>{{name}}</i>
    </div>
{{/participants}}
</body>
</html>