<html>
<head>
    <title>Main Page</title>
</head>
<body>
<hr />
<div>
    <a href="/login">Log In</a>
    <a href="/registration">Registration</a>
    <form action="logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<hr />
<div>Hello, sportsman!</div>
</body>
</html>