<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Log In</title>
</head>
<body>
<hr />
<div>
    <a href="/login">Log In</a>
    <a href="/registration">Registration</a>
</div>
<hr />
<div>
    <p>Please log in with your login and password:</p>
</div>
<form action="/login" method="post">
    <div><label> Username: <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Sign In"/></div>
</form>

</body>
</html>