<html>
<head>
    <title>Main Page</title>
</head>
<body>
<hr />
<div>
    <a href="/main">Main</a>
    <a href="/addparticipant">Add Participant</a>
    <form action="logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<hr />
</body>
</html>