<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration</title>
</head>
<body>

<hr />
<div>
    <a href="/login">Log In</a>
    <a href="/registration">Registration</a>
</div>
<hr />

Add new user
{{#message}}
    {{message}}
{{/message}}

<form action="/registration" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>